body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.menu {
	background-color: #ddd;
	padding: 10px;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	display: inline-block;
	margin-right: 10px;
}

.menu li:last-child {
	margin-right: 0;
}

.menu a {
	color: #333;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.menu a:hover {
	color: #fff;
	background-color: #333;
}

.content {
	margin: 20px;
}

.footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 5px;
}

form {
	display: inline-block;
	margin-right: 10px;
}

.produkty {
	display: flex;
	flex-wrap: wrap;
}

.produkt {
	flex-basis: calc(33.33% - 20px);
	margin: 10px;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.produkt:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.produkt img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.produkt h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.produkt p {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

.produkt button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.produkt button:hover {
	background-color: #fff;
	color: #333;
}

.koszyk {
	margin: 20px;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.koszyk h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.koszyk ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.koszyk li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.koszyk li:last-child {
	margin-bottom: 0;
}

.koszyk .produkt-nazwa {
	font-size: 16px;
	font-weight: bold;
}

.koszyk .produkt-cena {
	font-size: 14px;
	color: #666;
}

.koszyk .produkt-usun {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
}
